@import "mixins.scss";
@import "header.scss";
@import "footer.scss";


.custom-sticky-footer {
  @include zeroize;
  display: flex;
  min-height: 100vh;
  flex-direction: column;

  main {
    flex: 1;
  }
}
